<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="/img/logo.png" alt="Logo">
        </div>

        <nav>
            
            <a href="/hombres">Hombres</a>
            <a href="/mujeres">Mujeres</a>
            <a href="/ofertas">Ofertas</a>
            <a href="/contacto">Contacto</a>
            <a href="/login" id="btnLogin">Login</a>
        </nav>
<div id="adminBarra"></div>
    </header>

    <section class="contacto-container">

        <section class="contacto-container">
        
            
            <div class="contacto-card">
        
                <h1>Atención al Cliente</h1>
        
                <p>
                    ¿Tienes preguntas sobre nuestros productos, tallas, disponibilidad o pedidos?
                    Contáctanos directamente por WhatsApp y te responderemos lo antes posible.
                </p>
        
                <div class="whatsapp-info">
        
                    <h2>📱 WhatsApp</h2>
        
                    <p>+57 311 378 1652</p>
        
                    <a href="https://wa.me/573113781652" target="_blank" class="btn-whatsapp">
                        Contactar por WhatsApp
                    </a>
        
                </div>
        
            </div>
            
        
        </section>


    </section>

<script src="/js/adminSesion.js"></script>

</body>

</html>